* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  text-decoration: none;
}

/* NAVBAR STYLING */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55px;
  background-color: #005e23;
}

.nav-link {
  color: white;
}

/* -------------------------------- */

/* AUTH PAGE STYLING */
.auth-container {
  background-image: url("../assets/mountain-course.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.auth-container > p {
  margin: 18px;
  text-decoration: underline;
  color: white;
}

.auth-title {
  font-size: 2.75em;
  margin: 26px;
  color: #005e23;
}

.auth-form {
  background-image: url("../assets/golf-ball-dimples.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #005e23;
  padding: 20px;
  border-radius: 137px;
  /* background-color: #87ceeb; */
  display: flex;
  flex-direction: column;
}

.auth-form > input {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
  border: 3px solid #005e23;
}

.authForm-btn {
  margin: 16px 8px;
  padding: 8px;
  border: 3px solid #ed0030;
  border-radius: 3px;
  background-color: #fcf400;
}

/* -------------------------------- */

/* PROFILE PAGE STYLING */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.profile > h1 {
  margin: 8px;
  font-size: 2.5em;
  text-align: center;
  color: #ed0030;
}

.profile > h3 {
  margin: 16px 0;
  font-size: 1.3em;
  text-decoration: underline;
}

.course-form-container {
  width: 50%;
}

.course-form-container.edit {
  width: 100%;
}

.course-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 7px;
  margin: 16px 0;
  border: 5px solid #fcf400;
  padding: 20px;
  border-radius: 5px;
  background-color: #005e23;
}

.course-form > input {
  margin-bottom: 4px;
  padding: 8px;
  border-radius: 5px;
  border: 3px solid #fcf400;
}

#add-course-btn {
  margin: 8px 0;
  padding: 8px;
  border-radius: 5px;
  background-color: #fcf400;
}

#add-course-btn:hover {
  background-color: #ed0030;
}

/* -------------------------------- */

/* COURSE & PUBLIC COURSE PAGE STYLING */
.course-box {
  border: 5px solid #0060a9;
  border-radius: 5px;
  width: 100%;
}
.course-grid {
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.course-box1 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.course-box2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.course-box2 >h4 {
  text-decoration-line: underline ;
}

.course-box3 {
  flex-direction: row;
  justify-content: flex-start;
}
#yes-btn,
#no-btn {
  width: 10%;
  margin: 5px;
}
#yes-btn:hover {
  background-color: #005e23;
  color: white;
}
#no-btn:hover {
  background-color: #ed0030;
  color: white;
}

.vote-yes {
  text-align: center;
  color: #005e23;
  text-decoration-line: underline;
  text-decoration-color: #005e23;
}

.vote-no {
  text-align: center;
  color: #ed0030;
  text-decoration-line: underline;
  text-decoration-color: #ed0030;
}

#edit-course-btn,
#delete-course-btn {
  width: 10%;
  margin-right: 8px;
}

#cancel-btn {
  width: 15%;
  margin: 0 0 5px 5px;
}

.course-list,
.public-course-list {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 5px 5px;
}
.public-container {
  height: 100vh;
}
.all-courses {
  font-size: 1.5em;
  text-align: center;
  margin: 8px;
}
.public-course-title {
  text-align: center;
  font-size: 30px;
  margin: 5px;
}

/* .comment-form-container {
  
} */

.comment-section {
  margin-left: 5px;
  margin-right: 5px;
}
#comment-input {
  height: 10vh;
  width: 100%;
  border: 3px solid #ed0030;
}
#post-comment-btn {
  border: 3px solid #fcf400;
  border-radius: 3px;
}
#post-comment-btn:hover {
  background-color: #fcf400;
}
