* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-size: 16px; */
  font-family: 'Open Sans', sans-serif;
  outline: none;
  text-decoration: none;
}

/* NAVBAR STYLING */
.navbar {
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #005e23;
}

.nav-link {
  color: white;
}

/* -------------------------------- */

/* AUTH PAGE STYLING */
.auth-container {
  background-image: url("../assets/mountain-course.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.auth-container > p {
  margin: 18px;
  text-decoration: underline;
  color: white;
}

.auth-title {
  font-size: 2.75em;
  margin: 26px;
  color: #005e23;
}

.auth-form {
  background-image: url("../assets/golf-ball-dimples.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #005e23;
  padding: 20px;
  border-radius: 137px;
  /* background-color: #87ceeb; */
  display: flex;
  flex-direction: column;
}

.auth-form > input {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
  border: 3px solid #005e23;
}

.authForm-btn {
  margin: 16px 8px;
  padding: 8px;
  border: 3px solid #ed0030;
  border-radius: 3px;
  background-color: #fcf400;
}

/* -------------------------------- */

/* PROFILE PAGE STYLING */
.profile {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile > h1 {
  margin: 1%;
  font-size: 1.5em;
  text-align: center;
  color: #005e23;
}

.profile > h3 {
  margin: 1%;
  font-size: 1em;
  text-decoration: underline;
}

.course-form-container {
  width: 90%;
  height: 100vh;
}

.course-form-container.edit {
  width: 100%;
}

.course-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2%;
  margin: 2%;
  outline: .25em solid #005e23; 
  border: .25em solid #fcf400;
  padding: 3%;
  border-radius: 10px;
  background-color: #005e23;
}

.course-form > input {
  justify-self: center;
  width: 100%;
  height: 5vh;
  margin: 1%;
  padding: 2%;
  border-radius: 5px;
  border: 3px solid #fcf400;
}

#add-course-btn {
  width: 70%;
  height: 4vh;
  margin: 1%;
  padding: 1%;
  border: 2px solid #ed0030;
  border-radius: 5px;
  background-color: #fcf400;
}

#add-course-btn:hover {
  background-color: #ed0030;
  border: 2px solid #fcf400;
  color: white;
}

/* -------------------------------- */

/* COURSE & PUBLIC COURSE PAGE STYLING */
.course-list,
.public-course-list {
  width: 90%;
  margin: 1%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  gap: 1%;
}

.public-container {
  height: 100vh;
}

.all-courses {
  font-size: 1.5em;
  text-align: center;
  margin: 8px;
}

.public-course-title {
  text-align: center;
  font-size: 30px;
  margin: 5px;
}

.course-grid-container {
  border: 3px solid #0060a9;
  border-radius: 5px;
  width: 90%;
  height: 55vh;
}

.course-grid {
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.course-grid-box1 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin: 1%;
  /* outline: 1px solid black; */
}

.course-grid-box1 >h1 {
 font-size: 1.3em;
}

.course-grid-box1 >h3 {
  font-size: 1em;
 }

.course-grid-box2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1%;
  /* outline: 1px solid black; */
}

.course-grid-box2 >h4 {
  text-decoration-line: underline ;
}

.course-grid-box3 {
  flex-direction: row;
  justify-content: flex-start;
  margin: 1%;
  /* outline: 1px solid black; */
}

#yes-btn,
#no-btn {
  width: 15%;
  height: 4vh;
  margin: 2%;
}

#yes-btn:hover {
  background-color: #005e23;
  color: white;
}

#no-btn:hover {
  background-color: #ed0030;
  color: white;
}

.vote-yes {
  text-align: center;
  color: #005e23;
  text-decoration-line: underline;
  text-decoration-color: #005e23;
}

.vote-no {
  text-align: center;
  color: #ed0030;
  text-decoration-line: underline;
  text-decoration-color: #ed0030;
}

#edit-course-btn,
#delete-course-btn {
  width: 17%;
  margin-right: 2%;
}

#cancel-btn {
  width: 15%;
  margin: 0 0 5px 5px;
}

/* -------------------------------- */

/* COMMENT SECTION STYLING */

/* .comment-form-container {
  
} */

.comment-container >h2 {
  font-size: 1em;
}

.comment-container >p {
  font-size: .9em;
}

.comment-section {
  margin-left: 5px;
  margin-right: 5px;
  /* outline: 1px solid black; */
}

/* .comment-section >h2 {
 font-size: 1em;;
} */

#comment-input {
  height: 10vh;
  width: 100%;
  border: 3px solid #ed0030;
}

#post-comment-btn {
  border: 3px solid #fcf400;
  border-radius: 3px;
}

#post-comment-btn:hover {
  background-color: #fcf400;
}
